//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;

$color-grey-light-new : #eee;
$color-grey-light : #f7f7f7;
$color-grey-dark : #999;
$color-grey-dark-new : #333;

$color-secondary-light : #ffb900;
$color-secondary-dark : #ff7730;

$color-tertiary-light : #2998ff;
$color-tertiary-dark : #5463fa;
//Grid 
$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem;

//Font Sizes
$default-font-size : 1.6rem;